body{
    font-family: sans-serif;;
}
.main{
    background-image: url(../img/stars.webp);
    width: cover;
    height: 300px;
    color: white;
}
table{
    padding:50px 400px;
    border-spacing: 30px;
}
.icon{
    text-align: center;
    font-size:35px;
}
.number{
    text-align: center;
    font-size:40px;
}
.text{
    text-align: center;
    font-size:12px;
    color:rgb(233, 233, 78);
}
.one{
    color: rgb(60, 211, 111);
}
.two{
    color: rgb(187, 60, 187);
}
.three{
    color:rgb(247, 38, 38);
}
.four{
    color:rgb(70, 70, 233);
}