
body{
    font-family: Arial, Helvetica, sans-serif;
}
.form{
    text-align: center;
}
h2{
    color: rgb(151, 27, 151);
}
*{
    border-radius: 2px;
}
p{
    font-size:12px;
    padding-bottom: 20px;
}
form{
    padding-top: 20px;
    border: 1px solid rgb(238, 237, 237);
    background-color:rgb(238, 237, 237);
    max-width: 50%;
    margin:auto;
    height:420px;
}
input, select, textarea{
    width: 330px;
    height: 40px;
    border: none;
}
input[type="text1"]{
    margin-right: 10px;
}
input[type="text2"]{
    margin-left: 10px;
}
input[type="text3"]{
    margin-left: 10px;
}
input[type="tel"]
{
    margin-right: 10px;
}
input[type="email"]
{
    margin-left: 10px;   
}
form>div{
    padding-bottom: 30px;
}
select{
    margin-right: 10px;
}
textarea{
    width:680px;
    height: 100px;
}
button{
    float: left;
    margin-left: 25px;
    margin-top: -10px;
    width:150px;
    height: 40px;
    background-color: rgba(0, 140, 255, 0.959);
    border:none;
}
i{
    color:white;
}
