body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0 50px;
}
h2{
    font-size: 28px;
    border-bottom:3px solid red;
    padding-bottom: 10px;
    color:blue;
}
.info{
    display:inline-block;
}
.form-text{
    margin-left: 450px;
    margin-top: -165px;
}
.name, .email, .tieude, .textarea{
    width:700px;
    height:35px;
    margin-bottom: 10px;
    border:1px solid rgba(3, 3, 3, 0.363);
    border-radius:2px;
}
.textarea{
    height:200px;
}
h3{
    color:#9c64e8;
    margin-bottom:30px;
}
.btn{
    height:40px;
    background-color: #5f9ea0;
}
span{
    color:white;
}
p:not(.thongtin){
    color:rgba(0, 0, 0, 0.603)
}
.thongtin{
    font-size: 20px;
}
p>i{
    margin-right: 20px;
}