body{
    font-family: sans-serif;
}
img{
    float: left;
}
ul{
    list-style-type: none;
    display: flex;
}
li{
    margin-top: 10px;
    margin-right: 25px;
}
button{
    float: right;
    margin-top: -40px;
    width: 50px;
    height: 35px;
    background-color: white;
    border: 1px solid rgb(207, 197, 197);
    cursor: pointer;
    border-radius:3px;
}